<div class="cart-table-container">
  <mat-table [dataSource]="shoppingCart">
    <!-- Product Column -->
    <ng-container matColumnDef="name" class="width" >
      <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
      <mat-cell *matCellDef="let item"><strong> {{ item.product.productName }} </strong></mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.product.productPrice | currency: 'USD ' }}</mat-cell>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="imageUrl">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let item">
        <img [src]="item.product.productImageUrl" alt="{{ item.product.productName }}" class="header-image">
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions" class="width" >
      <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <button mat-icon-button color="warn" (click)="removeFromCart(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="[ 'imageUrl', 'name', 'price', 'actions' ]"></mat-header-row>
    <mat-row *matRowDef="let row; columns: [ 'imageUrl', 'name', 'price', 'actions' ]"></mat-row>
  </mat-table>
</div>
<mat-divider class="total-price-divider"></mat-divider>
<div class="total-price-container">
  <h2><strong>Total price: </strong> {{ getTotalPrice() | currency: 'USD '}}</h2>
</div>
