.order-stepper {
}

.button-container {
  display: flex;
  justify-content: right;
  align-items: center;
  align-content: center;
  margin: auto;
  padding: 1rem;
}

.button-container button {
  margin: 0 10px;
}

.total-price-title {
  display: flex;
  justify-content: right;
  align-items: center;
  align-content: center;
  margin-top: 1em;
  padding: 1rem;
}

.order-steps-card {
  margin: 0 auto;
  max-width: 80%;
}

.shipping-detail-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.shipping-detail-form mat-form-field {
  display: block;
}
