<mat-drawer-container>
  <mat-drawer mode="side" opened style="width: 200px; text-align: center;"  *ngIf="!(isSmallScreen$ | async)">
    <mat-nav-list>
      <a (click)="filterByCategory(category)" *ngFor="let category of categories" mat-list-item>
        {{ category }}
      </a>
    </mat-nav-list>
    <button (click)="resetFilter()" color="primary" mat-button>Show All</button>
  </mat-drawer>
  <mat-drawer-content>
    <mat-form-field class="centered-input">
      <mat-label>Filter by Product Name</mat-label>
      <input (keyup)="applyFilter($event)" matInput placeholder="Search">
    </mat-form-field>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8 product-table" matSort>

      <!-- Product Name Column -->
      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef class="hide-on-small-screen">Product Name</mat-header-cell>
        <mat-cell *matCellDef="let product" class="hide-on-small-screen"><h3>{{ product.productName }}</h3></mat-cell>
      </ng-container>

      <!-- Product Image Column -->
      <ng-container matColumnDef="productImage">
        <mat-header-cell *matHeaderCellDef >Image</mat-header-cell>
        <mat-cell *matCellDef="let product" class="image">
          <img [src]="product.productImageUrl" alt="{{ product.productImageUrl }}" class="header-image">
        </mat-cell>
      </ng-container>

      <!-- Product Description Column -->
      <ng-container matColumnDef="productDescription" >
        <mat-header-cell *matHeaderCellDef class="hide-on-small-screen">Description</mat-header-cell>
        <mat-cell *matCellDef="let product" class="hide-on-small-screen">{{ product.productDescription }}</mat-cell>
      </ng-container>

      <!-- Product Price Column -->
      <ng-container matColumnDef="productPrice">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
        <mat-cell *matCellDef="let product"><h2><strong>{{ product.productPrice | currency: 'S/. ' }}</strong></h2></mat-cell>
      </ng-container>

      <!-- Product Rating Column -->
      <ng-container matColumnDef="productRating">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="hide-on-small-screen">Rating</mat-header-cell>
        <mat-cell *matCellDef="let product" class="hide-on-small-screen"><h2><strong>
          <mat-icon *ngFor="let star of getRatingStars(product.productRating)">star</mat-icon>
        </strong></h2></mat-cell>
      </ng-container>

      <!-- Product Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let product">
          <button (click)="addToCart(product)" aria-label="Buy" color="primary" mat-icon-button class="action-button">
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button aria-label="Share" color="primary" mat-icon-button class="action-button">
            <mat-icon>share</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-drawer-content>
</mat-drawer-container>




