<app-toolbar></app-toolbar>
<div class="container background-image">
<div class="home-p">
  <div class="home-text">
    <h1>We connect travelers & buyers all around the world!</h1>
    <p>Get those products that you always wanted, at the lowest price and delivered by travelers to your city.</p>
  </div>

  <div class="client-type-buttons">
    <button mat-flat-button color="primary" routerLink="/view-trips" aria-label="Go to add a new trip.">
      Travel
    </button>
    <button mat-flat-button color="accent" routerLink="/dashboard" aria-label="Go to add a new request.">
      Buy
    </button>
  </div>
</div>
</div>
<app-footer></app-footer>
