.toolbar{
  background-image: url('../../../assets/images/toolbar-background.svg');
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px;
}

.image-container {
  margin-top: 10px;
}

.mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  flex: 1;
}

.center-content {
  flex: 1;
  text-align: center;
}

.right-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button {
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.menu-button {
  scale: 0.8;
}

